{% extends 'base.html.twig' %}

{% block title %}Worksite : Inscription
{% endblock %}


{% block body %}

	<div class="row">
		<div class="col-md-8 offset-md-2">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

	<h1>Inscription</h1>
	{{form_start(registrationForm)}}
	<div class="form-group">
		<label for="">Nom</label>
		{{form_widget(registrationForm.firstname)}}
	</div>

	<div class="form-group">
		<label for="">Prénom</label>
		{{form_widget(registrationForm.lastname)}}
	</div>
	<div class="form-group">
		<label for="">Matricule</label>
		{{ form_widget(registrationForm.matricule) }}
		{{form_errors(registrationForm.matricule)}}
	</div>
	<div class="form-group">
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
	</div>

	<div class="form-group">
		{{ form_row(registrationForm.agreeTerms) }}
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Inscription</button>
	{{ form_end(registrationForm) }}
    </div>
  </div>
	
{% endblock %}
