{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<div class="row mt-5">
		<div class="col-md-8 offset-md-2">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

	<h1>Création d'un utilisateur</h1>
	{{form_start(user_form)}}
	<div class="form-group">
		<label for="">Nom</label>
		{{form_widget(user_form.firstname)}}
	</div>

	<div class="form-group">
		<label for="">Prénom</label>
		{{form_widget(user_form.lastname)}}
	</div>
	<div class="form-group">
		<label for="">Matricule</label>
		{{ form_widget(user_form.matricule) }}
	</div>
	
	<button type="submit" class="btn btn-lg btn-primary">Créer un utilisateur</button>
	{{ form_end(user_form) }}
    </div>
  </div>
	{# {{form_start(user_form)}}
	{{form_widget(user_form)}}
	<input type="submit" class="btn btn-success" value="Creer un utilisateur" formnovalidate>
	{{form_end(user_form)}} #}
{% endblock %}
